.EducationIcon{
  font-size: 1.5rem;
  border-left: 2px solid #ff00ee;
  border-radius: 5rem;
  background-color: black;
  color: 2px solid #ff00ee;
}

.TextAll{
  margin-left: 2.5rem;
}

.MBA{
  border-left: 2px solid #ff00ee;
  margin-left: 0.7rem;
  height: 5rem;
  
}

.FrontEndExp{
  margin: 3rem;
} 


.FrontEndExp h4{
  margin-left: 7rem;
  margin-bottom: 1.2rem;
}

.Extra h1{
  margin-bottom: 2rem;
  /* margin-top: 5rem; */
}

